.delete-icon {
    position: absolute;
    right: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.list-group-item:hover .delete-icon {
    opacity: 1;
}

.task-text {
    font-size: 1.5rem;
    font-weight: 300;
    color: #6c757d;
    font-family: 'Segoe UI', 'Roboto', sans-serif;
}

.todo-title {
    font-size: 6rem;
    font-weight: 300;
    color: #f8cdd3;
    font-family: 'Segoe UI', 'Roboto', sans-serif;
}

.counter-task {
    font-weight: 300;
    color: #6c757d;
    font-family: 'Segoe UI', 'Roboto', sans-serif;
}